.quiz, .summary {
    display: none;
}

.quiz ul {
    list-style: none;
}

body {
    background-color: yellow;
    text-align: center;
}


#headerBox {
    background-color: red;
}

#timeBox {
    background-color: green;
    padding-top: 35px;
    padding-bottom: 35px;
}

#questionBox {
    background-color: orchid;
    padding-top: 35px;
    padding-bottom: 35px;
}

#answerBox {
    background-color: blueviolet;
    padding-top: 35px;
    padding-bottom: 35px;
}

#imageBox {
    background-color: black;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-bottom: 100px;
}